@page
@model To_DoList.Pages.CalculatorModel
@{
}

<div class="text-center">
    <h1 class="display-4">r</h1>
    <input type="text" id="display" disabled/>
    <div class="buttons">
        <button class="btn" id="btn-1">1</button>
        <button class="btn" id="btn-2">2</button>
        <button class="btn" id="btn-add">+</button>
        <button class="btn" id="btn-go">Go</button>
</div>
    
</div>

<script src="~/js/Calculator.js"></script>

