@page
@model To_DoList.Pages.CounterModel
@{
}
<div class="text-center">
    <h1 class="display-4">Countdown Timer</h1>
    <input type="number" id="secondsInput" placeholder="Enter seconds" />
    <button id="startBtn">Start Countdown</button>
    <button id="resetBtn">Reset</button>
    <div id="timerDisplay">Time Remaining: 0 seconds</div>
</div>

<script src="~/js/Counter.js"></script>