@page
@model To_DoList.Pages.CounterModel
@{
}
<div class="text-center">
    <h1 class="display-4">Write your letter</h1>
    <form id="letterForm">

        <input type="text" id="letterInput" placeholder="Write your letter" />
        <button id="sendBtn" type="button">Send</button>

    </form>
    
   <div id="errorMessage" style="color: red; display: none;">Please enter your letter.</div>
    <div id="letterDisplay"></div>

</div>

<script src="~/js/DOM-Manipulation.js"></script>

