@page
@model To_DoList.Pages.CounterModel
@{
}

<div class="text-center">
   <div class="carousel">
        <h1>Images of featured Cars</h1>


        <img id="carouselImage" src="" alt="Image Carousel" />



        <button id="prev-Btn" type="button">Submit Guess</button>
        <button id="next-Btn" type="button">Submit Guess</button>


        <div id="numberDisplay"></div>


   </div>
        

</div>

<script src="~/js/DOM-Manipulation.js"></script>

